html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: inline-flex;
}

.chat-container {
    width: 30%;
    min-width: 300px;
    max-width: 300px;
    display: block;
    overflow: auto;
}

.chatroom {
    height: 100%;
    max-height: 100vh;
}

.body-container {
    height: 100%;
    width: 70%;
    padding: 5px 10px 10px 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: gainsboro;
}

.form-container {
    padding: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: auto;
    min-height: 5%;
    background-color: white;
    border-radius: 5px;
}

.map-container {
    margin-top: 5px;
    padding: 30px;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: auto;
    min-height: 50%;
    background-color: white;
    border-radius: 5px;
}

.desc-container {
    margin-top: 5px;
    padding: 10px;
    display: block;
    overflow: auto;
    min-height: 45%;
    flex-grow: 1;
    background-color: white;
    border-radius: 5px;
}

.desc-container p {
    text-align: justify;
}

img {
    height: 100%;
    min-height: 400px;
    width: auto;
    object-fit: contain;
}

#map-container, #desc-container {
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
 }